body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
} 

/* NAVBAR */
.navbar{
    width: 100vw;
    height: auto;
    background-color: #D8FFEA;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.itemList ul{
    list-style: none;    
}
.itemList ul li{
    display: inline-block;
    padding: 8px;  
    text-align: center;  
}

.itemList ul li a{
    color: black;
    text-decoration: none;
    font-size: 1.15em;
}
.itemList ul li a:hover{
    color: #026C62;
    
}

/* CART */
.Cart button{
    padding: 5px 15px;
    background-color: transparent;
    color: #000;
    border: none;
}

.Cart button:last-child{
    font-size: 1.05em;
    font-weight: 700;
}

/* CONTENEDOR */
.ItemContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ItemContainer h2{
    font-size: 2em;
    text-align: left;
}



